{% extends "base.html" %}

{% block conteudo %}
    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4">     
                <div class="col col-lg-12" id="topo">
                    <h1 class="text-center text-primary fw-bold">Planetas do Sistema Solar</h1>   
                </div>
                
                <div class="card-body">
                    <div class="col col-lg-12">
                        <p class="card-text">
                            Os planetas não produzem luz, apenas refletem a luz do Sol, que é a estrela do Sistema Solar.
                        </p>
                        <p class="card-text">
                            Teorias afirmam que os planetas também foram formados a partir de porções de massa muito quente e 
                            que todos estão de resfriando. Alguns, entre eles a Terra, já se resfriaram o suficiente para 
                            apresentar a superfície sólida.
                        </p>
                        <p class="card-text">
                            Um corpo celeste é considerado um planeta quando, além de não ter luz própria, gira ao redor
                            e uma estrela.
                        </p>
                        <p class="card-text">
                            Oito planetas compõem o sistema Solar: <a href="#mercurio">Mercúrio</a>, 
                                                                    <a href="#venus">Vênus</a>,
                                                                    <a href="#terra"> Terra</a>,
                                                                    <a href="#marte"> Marte</a>,
                                                                    <a href="#jupiter"> Júpiter </a>, 
                                                                    <a href="#saturno">Saturno</a>,
                                                                    <a href="#urano">Urano</a>  e
                                                                    <a href="#netuno">Netuno</a>.
                        </p>
                        <p class="card-text">
                            Obs.: A descrição acima está na ordem de afastamento do Sol.
                        </p>
                        <p class="card-text">
                                Os planetas têm forma aproximadamente esférica. Os seus movimentos principais são o
                                de rotação e o de translação. Cada planeta possui um eixo de rotação em relação ao Sol, o mais 
                                inclinado deles é o planeta-anão <a href="#plutao">Plutão </a>, pois seu eixo de rotação em relação ao Sol é de 120 graus, 
                                olhe a figura.  
                        </p>
                        <div class="col col-lg-5">
                            <div class="figure">
                                <img class= "figure-img img-fluid" src="static/img/planetas-inclinacao.jpg" alt="Imagem da inclinação dos planetas">
                                <figcaption class="figure-caption">Imagem do eixo de rotação dos planetas em relação ao sol</figcaption>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">  
            <div class="card shadow mb-4">
                <div class ="card">
                    <div class="card-header">
                        <h4 class="card-title text-center text-primary font-weight-bold">
                            Planetas
                        </h4>
                    </div>
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="mercurio">Mercúrio</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/mercurio.jpg">
                                                <figcaption class="figure-caption">Imagem colorida do planeta Mercúrio divulgada pela Nasa (Foto: Nasa/AFP)</figcaption>
                                                <figcaption class="figure-caption">Fonte:g1.globo.com 21/02/2013</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            É o planeta mais próximo ao Sol e o menor do Sistema Solar. É rochoso, praticamente sem atmosfera, e a sua temperatura 
                                            varia muito, chegando a mais de 400oC positivos, no lado voltado para o Sol, e cerca de 180oC negativos, no lado oposto. 
                                            Mercúrio não tem satélite. É o planeta que possui um movimento de translação de maior velocidade (o ano mercuriano tem 
                                            apenas 88 dias). O aspecto da superfície é parecido com o da nossa Lua, toda coberta de crateras, originadas da colisão 
                                            com corpos celestes.  
                                            </p> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div>
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="venus">Vênus</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/venus.jpg">
                                                <figcaption class="figure-caption">Imagem da superfície de Vênus (Créditos: NASA/JPL)</figcaption>
                                                <figcaption class="figure-caption">Fonte:https://www.ufmg.br/espacodoconhecimento/planeta-venus-e-as-semelhancas-com-a-terra</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                                Vênus é conhecido como Estrela-D'Alva ou Estrela da tarde por causa de seu brilho e também porque é visível ao amanhecer 
                                                e ao anoitecer, conforme a época do ano (mas lembre-se que ela é um planeta e não uma estrela).
                                            </p>
                                            <p class="card-text">
                                                É o segundo planeta mais próximo do Sol e o planeta mais próximo da Terra. As perguntas intrigantes que este planeta "gêmeo" 
                                                da Terra nos coloca começam com o seu movimento de rotação própria. Uma rotação completa sobre si mesmo demora 243.01 dias, 
                                                o que é um período invulgarmente longo. Além disso, enquanto que a maior parte dos planetas rodam sobre si próprios no mesmo 
                                                sentido, Vênus é uma das exceções. Tal como Urano e Plutão, a sua rotação é retrógrada, o que significa que em Vênus o Sol 
                                                nasce a oeste e põe-se a leste.
                                            </p>
                                            <p class="card-text">
                                                Vênus é um planeta muito parecido com a Terra, em tamanho, densidade e força da gravidade à superfície, tendo-se chegado a 
                                                especular sobre se teria condições favoráveis à vida. Além disso, suas estruturas são muito parecidas: um núcleo de ferro, 
                                                um manto rochoso e uma crosta. Hoje sabemos que, apesar de ter tido origens muito semelhantes à Terra, a sua maior proximidade 
                                                ao Sol levou a que o planeta desenvolvesse um clima extremamente hostil à vida. De fato, Vênus é o planeta mais quente do 
                                                sistema solar, sendo mesmo mais quente do que Mercúrio, que está mais próximo do Sol. A sua temperatura média à superfície é 
                                                de 460oC devido ao forte efeito de estufa que acontece em grande escala em todo o planeta e não apresenta água.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div>    
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="terra">Terra</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/terra.jpg">
                                                <figcaption class="figure-caption">Imagem de satélite mostra a Terra vista do espaço — Foto: Nasa/NOAA</figcaption>
                                                <figcaption class="figure-caption">https://g1.globo.com/ciencia-e-saude/noticia/2019/04/23/dia-da-terra-nasa-divulga-imagens-para-celebrar-beleza-do-planeta.ghtml</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            É o terceiro planeta mais próximo do Sol. É rochoso e a sua atmosfera é composta de diferentes tipos de gases, e a sua 
                                            temperatura média é de aproximadamente 15oC.
                                            </p>
                                            <p class="card-text">
                                            A Terra, até o que se sabe, é o único planeta do Sistema Solar que apresenta condições que possibilitam a existência de seres 
                                            vivos como os conhecemos. Tem um satélite, a Lua.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div>   
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="marte">Marte</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/marte.jpg">
                                                <figcaption class="figure-caption">Planeta Marte, de acordo com a sonda Mars Express - Reprodução ESA</figcaption>
                                                <figcaption class="figure-caption">https://www.cnnbrasil.com.br/tecnologia/agencia-espacial-diz-que-marte-nao-e-planeta-vermelho-e-tem-paleta-de-cores-entenda</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            Visto da Terra parece um planeta vermelho, embora na verdade seja mais acastanhado. O seu eixo de rotação tem uma inclinação 
                                            muito semelhante à do nosso planeta, 25.19o, o que significa que tem estações do ano. Ao contrário de Mercúrio, que está 
                                            demasiado perto do Sol para que seja facilmente observado, e de Vênus, cuja densa atmosfera e cobertura de nuvens bloqueiam 
                                            a observação da sua superfície, Marte está relativamente próximo da Terra sem estar muito próximo do Sol, e tem uma atmosfera 
                                            muito rarefeita e na maior parte formada por gás carbônico, o que nos permite observar a sua superfície com relativa facilidade. 
                                            Seu período de rotação é aproximadamente 24h, muito parecido com o da Terra, porém sua translação dura cerca de 687 dias.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div> 
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="jupiter">Júpiter</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/jupiter.jpg">
                                                <figcaption class="figure-caption">Os cientistas usaram uma técnica de alta resolução usada em astronomia chamada em inglês de lucky imaging, que envolve a geração e a combinação de imagens obtidas de várias exposições ultrarrápidas — Foto: Gemini Observatory/M.H. Wong et al</figcaption>
                                                <figcaption class="figure-caption">https://g1.globo.com/ciencia-e-saude/noticia/2020/05/11/foto-de-jupiter-a-imagem-extraordinaria-do-planeta-gigante-que-os-astronomos-construiram-com-um-mosaico-de-fotos.ghtml</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            A massa de Júpiter é duas vezes e meia a massa combinada de todos os outros corpos do sistema solar à exceção do Sol. 
                                            </p>
                                            <p class="card-text">
                                            Júpiter é o maior planeta do sistema solar, e o primeiro dos gigantes gasosos. Tem um diâmetro 11 vezes maior que o diâmetro 
                                            da Terra e uma massa 318 vezes superior. Demora quase 12 anos a completar uma órbita, mas tem um período de rotação invulgarmente 
                                            rápido: 9h 50m 28s, sendo o planeta com a rotação mais rápida do sistema solar. Embora tenha um núcleo de ferro, quase todo o planeta 
                                            é uma imensa bola de hidrogênio e um pouco de hélio. A temperatura da superfície é de cerca de -150oC.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div>    
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="saturno">Saturno</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/saturno.jpg">
                                                <figcaption class="figure-caption">Saturno e seus proeminentes anéis, capturados pela sonda Cassini[a]</figcaption>
                                                <figcaption class="figure-caption">https://pt.wikipedia.org/wiki/Saturno_(planeta)</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            É o segundo maior planeta do nosso sistema solar. É famoso por seus anéis, que podem ser vistos com o auxílio de pequenos 
                                            telescópios. Os anéis são feitos com pedaços de gelo e rochas. A temperatura média da superfície do planeta é de -140oC. 
                                            Saturno é formado basicamente por hidrogênio e pequena quantidade de hélio.
                                            </p>
                                            <p class="card-text">
                                            O movimento de rotação em volta do seu eixo demora cerca de 10,5 horas, e cada revolução ao redor do Sol leva 30 anos terrestres.
                                            </p>
                                            <p class="card-text">
                                            Tem um número elevado de satélites, 60 descobertos até então, dos quais 35 possuem nomes, e está cercado por um complexo de 
                                            anéis concêntricos, composto por dezenas de anéis individuais separados por intervalos, estando o mais exterior destes situado a 
                                            138 000 km do centro do planeta geralmente compostos por restos de meteoros e cristais de gelo. Alguns deles têm o tamanho de uma casa.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div>
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="urano">Urano</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/urano.jpg">
                                                <figcaption class="figure-caption">Imagens do Telescópio James Webb destaca 11 dos 13 anéis de Urano - Nasa</figcaption>
                                                <figcaption class="figure-caption">https://www.cnnbrasil.com.br/tecnologia/nasa-divulga-imagem-de-urano</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            Urano é o sétimo planeta do sistema solar, situado entre Saturno e Netuno. A característica mais notável de Urano é a estranha inclinação 
                                            do seu eixo de rotação, quase noventa graus em relação com o plano de sua órbita; essa inclinação não é somente do planeta, mas também de
                                            seus anéis, satélites e campo magnético. Urano tem a superfície a mais uniforme de todos os planetas por sua característica cor azul-esverdeada, 
                                            produzida pela combinação de gases em sua atmosfera, e tem anéis que não podem ser vistos a olho nu; além disso, tem um anel azul,
                                            que é uma peculiaridade planetária. Urano é um de poucos planetas que têm um movimento de rotação retrógrado, similar ao de Vênus.
                                            </p>
                                            <p class="card-text">
                                            Tem 27 satélites ao seu redor e um fino anel de poeira.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div>     
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="netuno">Netuno</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/netuno.jpg">
                                                <figcaption class="figure-caption">Foto: ESO</figcaption>
                                                <figcaption class="figure-caption">https://revistagalileu.globo.com/Ciencia/noticia/2018/07/telescopio-capta-imagem-detalhada-do-planeta-netuno.html</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            Orbitando tão longe do Sol, Netuno recebe muito pouco calor. A sua temperatura superficial média é de -218 °C. No entanto, o planeta parece ter 
                                            uma fonte interna de calor. Pensa-se que isto se deve ao calor restante, gerado pela matéria em queda durante o nascimento do planeta, que agora 
                                            irradia pelo espaço fora.
                                            </p>
                                            <p class="card-text">
                                            A atmosfera de Netuno tem as mais altas velocidades de ventos no sistema solar, que são acima de 2000 km/h; acredita-se que os ventos são 
                                            amplificados por este fluxo interno de calor. A estrutura interna lembra a de Urano - um núcleo rochoso coberto por uma crosta de gelo, escondida 
                                            no profundo de sua grossa atmosfera. Os dois terços internos de Netuno são compostos de uma mistura de rocha fundida, água, amônia líquida e metano. 
                                            A terça parte exterior é uma mistura de gases aquecidos composta por hidrogênio, hélio, água e metano.
                                            </p>
                                            <p class="card-text">
                                            Embora não sejam visíveis nas fotografias do telescópio espacial Hubble, Netuno faz parte dos planetas gigantes que possuem um complexo sistema de anéis. 
                                            Possui cinco anéis principais e sua descoberta se deve a uma observação efetuada ainda em 1984 a bordo de um avião U2 que acompanhou o deslocamento 
                                            do planeta por algumas horas durante a ocultação de uma estrela. Neptuno tem 13 luas conhecidas. A maior delas é Tritão, descoberta por William Lassell 
                                            apenas 17 dias depois da descoberta de Netuno.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <a href="#topo">Voltar ao início</a>
                    </div> 
                    <div class ="card-body">
                        <div class="card-header">
                            <h4 class="card-title text-center" id="plutao">Plutão</h4>
                        </div>  
                        <div class="card-body">
                            <div class="col col-lg-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="figure">
                                                <img class="figure-img img-fluid" src="static/img/plutao.jpg">
                                                <figcaption class="figure-caption">Imagem de Plutão produzida pela sonda New Horizons</figcaption>
                                                <figcaption class="figure-caption">https://www.bbc.com/portuguese/noticias/2015/07/150716_galeria_planetas_ebc</figcaption>
                                            </div>   
                                        </td>
                                        <td>
                                            <p class="card-text">
                                            Plutão é um planeta anão do sistema solar, que orbita o Sol a uma distância média de 5,9 bilhões de quilômetros. Foi descoberto em 1930 por Clyde Tombaugh 
                                            e inicialmente classificado como o nono planeta do sistema solar. No entanto, em 2006, a União Astronômica Internacional (IAU) reclassificou Plutão como 
                                            um planeta anão devido à sua incapacidade de "limpar" sua órbita de outros detritos.
                                            </p>
                                            <p class="card-text">
                                            Plutão tem uma órbita altamente elíptica e inclinada em relação ao plano dos outros planetas do sistema solar. Sua órbita leva cerca de 248 anos terrestres 
                                            para completar uma revolução ao redor do Sol. Durante parte de sua órbita, Plutão chega mais perto do Sol do que Netuno, embora os dois nunca colidam devido 
                                            à ressonância orbital entre eles.
                                            </p>
                                            <p class="card-text">
                                            A superfície de Plutão é composta principalmente por gelo de nitrogênio, metano e monóxido de carbono, com algumas regiões apresentando características geológicas 
                                            variadas, como montanhas, planícies e vales. Plutão também possui uma atmosfera tênue composta principalmente por nitrogênio, com traços de metano e monóxido de carbono.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#topo">Voltar ao início</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
            
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>